@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap'); /*a font-family é 'Comfortaa', cursive*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); /*font-family: 'Pacifico', cursive;*/

body {
    background: url("../img/blur.jpg") no-repeat fixed;
    background-color: black;
    font-size: 13pt;
    font-family: 'Comfortaa', cursive;
    
}

form{
    background-color: rgba(0, 255, 213, 0.4);
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 1px black;
}

form p {
    margin: 8px;
}

fieldset {
    border: black solid 2px;
    border-radius: 5px;
}

.area {
    font-family: 'Pacifico', cursive;
    font-size: 12pt;
    color: rgb(65, 65, 65);
    outline: 0; /*Tira a borda quando selecionado*/
    border-radius: 10px;
    border: 2px solid black;
}

/*Altera a cor do placeholder dos inputs*/
::-webkit-input-placeholder {
    color: rgb(206, 206, 206);
 }

input#btnEnviarForm {
    border-radius: 100px;
    background-color: rgb(186, 255, 25);
    padding: 2px;
    margin-top: 10px;
    position: relative;
    left: 94%;
}