@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap'); /*a font-family é 'Comfortaa', cursive*/

body {
    overflow: hidden;
}

div{
    margin-top: 500px;
}

img#imgrepre {
    width: 250px;
    position: relative;
    margin-bottom: 100px;
}

p#representacao {
    position: relative;
    left: 35%;
    top: 50%;
}

div#opcoes1 {
    position: fixed;
    top: 300px;
    left: 10%;
    font-family: 'Comfortaa', cursive;
    margin: auto;
    padding: 5px;
}
