@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap'); /*a font-family é 'Comfortaa', cursive*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); /*font-family: 'Pacifico', cursive;*/
@font-face {
    font-family: 'TituloGiz';
    src: url("../_fonts/Chalk-hand-lettering-shaded_DEMO.otf");
}

/*Tudo que está relacionado ao header*/
header{
    margin: -5px -5px 5px -5px;
    color: #ffffff;
    background-color: rgb(255, 86, 24);
    height: 22px;
    padding: 6px 4px 0px 4px;
    font-family: 'Comfortaa', cursive;
    font-size: 10pt;
}

header span {
    display: block;
    float: right;
}

header span a {
    text-decoration: none;
    color: #ffffff;
}

header span a:hover {
    color: #e6e6e6;
}

/*Tudo que está relacionado ao Body*/
body {
    background: url("../_imagens/blur.jpg") fixed no-repeat;
    background-color: #000000;
    color: #ffffff;
}

p#maisinfo{
    text-align: center;
    margin-top: 30px;
    font-family: 'Comfortaa', cursive;
}

img#iconBaixo {
    width: 50px;
    position: absolute;
    left: 645px;
    top: 605px;
}

img#iconBaixo:hover {
    transition: opacity 1s;
    top: 610px;
}

/*Tudo que está relacionado a Section#principal*/
section#principal p#maisinfo {
    text-align: center;
}

div#texto {
    margin: auto 280px 10px auto;
    background-color: rgb(24, 255, 205);
    width: 500px;
    height: 95px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.541);
}

div#interacao {
    border-radius: 40px;
    border: rgb(186, 255, 25) solid 8px;
    margin: auto;
    background-color: #ffffff;
    width: 800px;
    height: 442px;
}

div#texto h1 {
    font-family: 'TituloGiz', sans-serif;
    padding: 7px 0px 0px 15px;
    font-size: 16pt;
    text-shadow: 1px 1px 1px black;
}

div#texto p#info {
    font-family: 'Pacifico', cursive;
    padding: 4px;
    margin-top: -20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.541);
}

/*Tudo que está relacionado ao article*/
article{
    height: 800px;
}

/*Tudo que está relacionado ao footer*/
footer{
    font-family: Arial, cursive;
    text-align: center;
}